.editDisclaimer {
    display: flex;
    gap: 12px;

    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* System Text / Black */

    color: #1B1F26;

    padding: 12px 24px;

    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgb(135 140 158 / 3%), 0px 4px 8px rgb(135 140 158 / 8%);
    border-radius: 4px;

    width: 100%;
    
    box-sizing: border-box;
    
    margin-bottom: 24px;
}