.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 100%;

    &.shrink {
        width: auto;
    }

    height: 48px;

    background: #155E75;
    border-radius: 4px;
    border: none;
    outline: none;

    cursor: pointer;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
    font-feature-settings: 'ss03' on, 'ss09' on, 'cv04' on;

    color: #FFFFFF;

    transition: background .1s ease;
    margin: 16px 0;

    &:hover, 
    &:focus, 
    &:focus-visible, 
    &:focus-within {
        background: #0E7490;
    }

    &:active {
        background: #164E63;
    }

    &.secondary {
        color: #1B1F26;
        background: #F1F5F9;

        &:hover, 
        &:focus, 
        &:focus-visible, 
        &:focus-within {
            background: #F8FAFC;
        }

        &:active {
            background: #E2E8F0;
        }
    }

}
