.root {
    position: relative;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

label.input {
    padding-right: 30px !important;
}

.icon {
    position: absolute;
    right: 4px;
}

.selectorWrapper {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;

    width: 100%;

    /* System BG / White */

    background: #FFFFFF;
    /* Shadow / Level 2 BYO 5-3-20 */

    box-shadow: 0px 3px 5px rgba(85, 94, 112, 0.2), 0px 0px 1px rgba(85, 94, 112, 0.3);
    border-radius: 4px;

    
    transform: scale(0);
    transition: height 0.1s;

    &.show {
        transform: scale(1);
    }
}

.option {
    height: 32px;
    width: 100%;

    /* System BG/White */

    background: #FFFFFF;

    cursor: pointer;

    /* Body 2 */

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* Control Text / Dark Gray */

    color: #253858;

    padding: 6px 12px;
    box-sizing: border-box;

    &:hover {
        background: #F1F5F9;
    }
}