.root {
    padding: 0 11px 16px;
    width: 298px;
    display: flex;
    flex-direction: row;
}

.filterButton {
    box-sizing: border-box;

    width: 48px;
    height: 48px;

    /* System BG/White */

    background: #FFFFFF;
    /* System Graph/Line Gray */

    border: 1px solid #E1E4EB;
    border-radius: 4px;
}

.filterInput {
    box-sizing: border-box;

    width: 186px;
    height: 48px;
    
    /* System BG/White */
    
    background: #FFFFFF;
    /* System Graph/Line Gray */
    
    border: 1px solid #E1E4EB;
    border-radius: 4px;
    margin: 0 8px;
}

.sortButton {
    box-sizing: border-box;

    width: 48px;
    height: 48px;
    
    /* System BG/White */
    
    background: #FFFFFF;
    /* System Graph/Line Gray */
    
    border: 1px solid #E1E4EB;
    border-radius: 4px;
}