.label {
    display: block;
    box-sizing: border-box;
    position: relative;
    
    height: 48px;
    
    background: #FFFFFF;
    
    border: 1px solid #E1E4EB;
    border-radius: 4px;
    margin: 8px 0;
    
    cursor: text;

    padding: 7px 8px;

    &.s{
        height: 32px;
        padding: 5px 8px;
    }

    &.l {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;

        &.hidden {
            display: none;
        }
    }

    &:focus-within {
        border: 1px solid #155E75;
    }

    &.disabled {
        background-color: #E1E4EB;
        border: 1px solid #E1E4EB;
        cursor: default;
    }
}

.labelText {


    /* identical to box height, or 143% */

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* System Text/Light Gray */

    color: #929BAD;

    padding: 0;
    
    transition: all .1s ease;

    /* Label */

    height: 14px;

    /* Caption 1 */

    font-size: 11px;
    line-height: 14px;
    margin: 0;
    user-select: none;

    .l.empty & {
        height: 20px;

        font-size: 14px;
        line-height: 20px;

        margin: 7px 0;
    }

    .l.focus & {
        /* Label */

        height: 14px;

        /* Caption 1 */

        font-size: 11px;
        line-height: 14px;

        margin: 0;
    }

    .s & {
        height: 20px;

        font-size: 14px;
        line-height: 20px;

        margin: 0;

        opacity: 0;

        position: absolute;
        
        top: -26px;
    }

    // .s.empty & {
    //     position: absolute;
        
    //     opacity: 1;
    // }

    // .s.focus & {
    //     position: absolute;
    // }
}

.focus .labelText {
    &.l {
        /* Label */

        height: 14px;

        /* Caption 1 */

        font-size: 11px;
        line-height: 14px;

        margin: 0;
    }

    
}

.input {
    width: 100%;

    height: 20px;

    &[value=""] {
        height: 0;

        & + p {        
            top: 6px;
            opacity: 1;
        }
    }

    &:focus {
        height: 20px;
    }

    /* Body 2 */

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* System Text/Light Gray */

    color: #1B1F26;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    border: 0;
    margin: 0;
    padding: 0;

    transition: all .1s .1s ease;
    background: transparent;

    .disabled & {
        color: #555E70;
    }
}

.input:focus, 
.input:focus-visible, 
.input:focus-within {
    outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.hidden {
    display: none;
}