.formWrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form {
    position: absolute;
    width: 572px;
}

.form h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    color: #1B1F26;
    margin: 0 0 40px 0;
    text-align: center;
}

.formHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px 128px;
    height: 56px;
    align-self: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    color: #1B1F26;
}

.login-logo-icon {
    border-radius: 4px;
    margin-right: 16px;
}

.phone {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    color: #1B1F26;
}