.root {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.isCurrent {
    background-color: #E1E4EB;
}

.icon {
    flex-shrink: 0;
    
    width: 48px;
    height: 48px;

    /* Color BG/Black */

    background: #F1F5F9;
    border-radius: 50%;

    margin: 12px;
    position: relative;
}

.status {
    box-sizing: border-box;

    position: absolute;
    width: 14px;
    height: 14px;
    right: 1px;
    bottom: 1px;

    /* System Graph/Light Gray */

    background: #929BAD;
    /* System BG / White */

    border: 2px solid #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* System Graph/Line Gray */

    border-bottom: 1px solid #E1E4EB;

    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;

    padding-right: 12px;
    flex-grow: 1;
    margin-top: 12px;
}

.wrapperRow {
    display: flex;
    /* System Graph/Line Gray */

    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin: 1px 0 5px;
}

.model {
    /* Body 2 */

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* System Text/Black */

    color: #1B1F26;

    flex-basis: 90%;
    flex-shrink: 1;
}

.mark {
    /* Body 2 */

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* System Text/Light Gray */

    color: #929BAD;

    align-self: baseline;
    flex-grow: 1;
    margin-right: 12px;
}

.groups {
    flex-basis: 10%;
    display: flex;
    flex-direction: row-reverse;
}


.group {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: -2px;
}

.group-1 {
    background: #FDCA4C;
}

.group-2 {
    background: #10B981;
}

.group-3 {
    background: #6366F1;
}

.lastActive {
    /* Caption 2 */

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    text-align: right;
    font-feature-settings: 'cv04' on, 'ss03' on, 'ss09' on;

    /* System Text/Light Gray */

    color: #929BAD;

    align-self: baseline;
}